:root {
    --iGEM-lighter-blue: rgb(167, 201, 240);
    --iGEM-light-blue: rgb(95, 141, 194);
    --iGEM-blue: rgb(53, 98, 150);
    --iGEM-blue-transparent: rgba(53, 98, 150, 0.35);
    --iGEM-dark-blue: rgb(6, 15, 41);
    --iGEM-dark-blue-transparent: rgba(6, 15, 41, 0.65);
    --iGEM-light-green: rgb(193, 238, 142);
    --iGEM-green: rgb(144, 207, 73);
    --iGEM-dark-green: rgb(74, 104, 40);
    --iGEM-dark-green-transparent: rgba(74, 104, 40, 0.65);
    --iGEM-ultra-light-aqua: rgb(202, 243, 247);
    --iGEM-light-aqua: rgb(155, 234, 241);
    --iGEM-aqua: rgb(79, 161, 169);
    --iGEM-dark-aqua: rgb(35, 110, 117);
    --iGEM-dark-aqua-transparent: rgba(35, 110, 117, 0.65);
    --iGEM-light-orange: rgb(248, 195, 126);
    --iGEM-orange: rgb(255, 166, 48);
    --iGEM-dark-orange: rgb(146, 97, 34);
    --iGEM-dark-orange-transparent: rgba(146, 97, 34, 0.65);
    --iGEM-safety-red: rgb(131, 31, 31);
    --iGEM-safety-red-transparent: rgba(131, 31, 31, 0.65);
    --iGEM-light-black: rgb(222, 226, 230);
    --iGEM-font-title: 'Anton', sans-serif;
}

.black .portrait-container {
    background-color: black;
}

.black .subsection-title,
.black .current-index,
h3.black {
    color: black !important;
}

.black .current-index,
.black .index-menu,
.black .hidden-component>button,
.black.brief-text {
    border-color: black;
}

#description-nav-buttons .black {
    border-color: var(--iGEM-light-black);
}

.orange .portrait-container,
.orange.portrait-container,
.orange .hidden-component>button {
    background-color: var(--iGEM-dark-orange);
}

.orange .thread {
    background-color: var(--iGEM-orange);
}

.orange header.page-cover>div {
    background-color: var(--iGEM-dark-orange-transparent);
}

.orange .subsection-title,
.orange .current-index,
h2.orange {
    color: var(--iGEM-orange) !important;
}

.orange .current-index,
.orange .index-menu,
.orange.brief-text {
    border-color: var(--iGEM-orange);
}

#description-nav-buttons .orange {
    border-color: var(--iGEM-dark-orange);
}

.aqua .portrait-container,
.aqua.portrait-container,
.aqua .hidden-component>button,
.aqua .thread {
    background-color: var(--iGEM-dark-aqua);
}

.aqua .thread {
    background-color: var(--iGEM-aqua);
}

.aqua .subsection-title,
.aqua .current-index,
h2.aqua {
    color: var(--iGEM-aqua) !important;
}

.aqua .current-index,
.aqua .index-menu,
.aqua.brief-text {
    border-color: var(--iGEM-aqua);
}

.aqua header.page-cover>div {
    background-color: var(--iGEM-dark-aqua-transparent);
}

#description-nav-buttons .aqua {
    border-color: var(--iGEM-dark-aqua);
}

.green .portrait-container,
.green.portrait-container,
.green .hidden-component>button,
.green .thread {
    background-color: var(--iGEM-dark-green);
}

.green .thread {
    background-color: var(--iGEM-green);
}

.green header.page-cover>div {
    background-color: var(--iGEM-dark-green-transparent);
}

.green .subsection-title,
.green .current-index,
h2.green {
    color: var(--iGEM-green) !important;
}

.green .current-index,
.green .index-menu,
.green.brief-text {
    border-color: var(--iGEM-green);
}

#description-nav-buttons .green {
    border-color: var(--iGEM-dark-green);
}

.blue header.page-cover>div {
    background-color: var(--iGEM-dark-blue-transparent);
}

.blue .hidden-component>button {
    background-color: var(--iGEM-dark-blue);
}

.blue .thread {
    background-color: var(--iGEM-blue);
}

.blue .subsection-title,
.blue .current-index,
h2.blue {
    color: var(--iGEM-light-blue) !important;
}

.blue .current-index,
.blue .index-menu,
.blue.brief-text {
    border-color: var(--iGEM-light-blue);
}

#description-nav-buttons .blue {
    border-color: var(--iGEM-dark-blue);
}

.red .portrait-container,
.red.portrait-container,
.red .hidden-component>button,
.red .thread {
    background-color: var(--iGEM-safety-red);
}

.red .subsection-title,
.red .current-index,
h2.red {
    color: var(--iGEM-safety-red) !important;
}

.red header.page-cover>div {
    background-color: var(--iGEM-safety-red-transparent);
}