:root {
    --iGEM-dark-blue: rgb(6, 15, 41);
    --iGEM-dark-blue-transparent: #2e5077a0;
    --iGEM-green: #90cf49;
    --iGEM-dark-green: rgb(102, 144, 54);
    --iGEM-aqua: #4fa1a9;
    --iGEM-dark-aqua: #236e75;
    --iGEM-orange: #ffa630;
    --iGEM-dark-orange: #926122;
    --iGEM-light-blue: #5f8dc2;
    --iGEM-font-title: 'Anton', sans-serif;
    --iGEM-light-black: #dee2e6;
}

.black .portrait-container { background-color: black; }
.black .subsection-title, .black .current-index { color: black; }
.black .current-index, .black .index-menu, .black.brief-text { border-color: black; }

.orange .portrait-container { background-color: var(--iGEM-orange); }
.orange .subsection-title, .orange .current-index { color: var(--iGEM-orange); }
.orange .current-index, .orange .index-menu, .orange.brief-text { border-color: var(--iGEM-orange); }

.aqua .portrait-container { background-color: var(--iGEM-aqua); }
.aqua .subsection-title, .aqua .current-index { color: var(--iGEM-aqua); }
.aqua .current-index, .aqua .index-menu, .aqua.brief-text { border-color: var(--iGEM-aqua); }

.green .portrait-container { background-color: var(--iGEM-green); }
.green .subsection-title, .green .current-index { color: var(--iGEM-green); }
.green .current-index, .green .index-menu, .green.brief-text { border-color: var(--iGEM-green); }

.blue .portrait-container { background-color: var(--iGEM-light-blue); }
.blue .subsection-title, .blue .current-index { color: var(--iGEM-light-blue); }
.blue .current-index, .blue .index-menu, .blue.brief-text { border-color: var(--iGEM-light-blue); }