header {
  color: white;
  background-color: var(--iGEM-dark-blue);
  position: fixed;
  z-index: 5;
  display: flex;
  width: 100%;
  font-family: "Manjari", sans-serif;
  box-shadow: 0px 0px 8px black;
}

header .filler {
  flex-grow: 1;
}

#header-content-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

#header-content-container > div {
  position: relative;
  width: 15%;
  max-width: 128px;
}

.navbar-brand {
  padding: 0;
  margin: 0 4px;
  height: 72px;
}

.main-logo {
  padding: 8px;
  height: 72px;
}

header #logo-container {
  text-align: center;
  flex-grow: 1;
  font-size: 12px;
}

header .dropdown button {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  height: 50%;
}

.dropdown-menu {
  background-color: #12214b;
}

.dropdown-item {
  color: white;
  border-bottom: 0px;
}

.dropdown-item:hover {
  background-color: #FFFFFF10;
  color: white;
}

#mobile-menu .navbar {
  width: 100%;
  color: white;
  padding: 0;
}

#mobile-menu .dropdown-menu {
  margin: 0;
  color: white;
  position: relative;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
}

#mobile-menu .btn {
  text-align: start;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0;
  border-color: #FFFFFF10;
}

.show > .btn-secondary.dropdown-toggle {
  background-color: #FFFFFF10;
  border-color: #FFFFFF10;
}

#mobile-title {
  color: white;
  font-family: "Manjari", sans-serif;
  font-size: 24px;
}

.navbar-toggler {
  margin: 8px;
}

.navbar-collapse {
  z-index: 2;
  background-color: var(--iGEM-dark-blue);
  margin-top: -2px;
  color: white;
}

.nav-item:hover {
  background-color: var(--primary);
}

@media only screen and (max-width: 719px) {
  body {
    font-size: 24px;
  }

  #desktop-menu {
    display: none;
  }

  #mobile-menu {
    display: flex;
  }
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 24px;
  }

  #desktop-menu {
    display: flex;
  }

  #mobile-menu {
    display: none;
  }
}
