body {
    font-size: 24px;
    background-color: #14224c;
    color: white;
}

header {
    box-shadow: none;
}

.portrait-container {
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    opacity: 1;
}

.portrait-container video {
    z-index: 3;
}

.portrait-photo {
  width: 100%;
  height: 320px + 72px;
  object-fit: cover;
  position: fixed;
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  z-index: 0;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.brief-text {
    line-height: 1.1em;
    text-align: center;
    border: black solid 8px;
    border-radius: 1em;
    padding: 0.7em;
    margin: 12px;
}

footer {
    margin-top: 15em;
}

.home-element {
    opacity: 0.1;
}

@media only screen and (max-width: 719px) {
    .brief-text {
        font-size: 18px;
    }
    

    footer {
        margin-top: 600px;
    }
  }