body,
#HQ_page {
    color: white;
    background-color: var(--iGEM-dark-blue);
}

header {
    box-shadow: none;
}

header.page-cover {
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    opacity: 1;
}

header.page-cover video {
    z-index: 3;
}

img#award-ribbon {
    position: absolute;
    z-index: 4;
    width: 264px;
    margin-left: -16px;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.brief-text {
    line-height: 1.1em;
    text-align: right;
    border: black solid 8px;
    border-radius: 1em;
    padding: 0.7em;
}

footer {
    margin-top: 0em;
}

.home-element {
    opacity: 0.1;
    padding: 4em 0;
}

.background-img-landing {
    height: auto;
    padding: 0;
    object-fit: cover;
    position: absolute;
    z-index: -3;
    opacity: 0.1;
    margin-top: -121px;
    max-width: 95%;
    left: 0%;
}

.background-img-landing>img {
    width: 160vw;
    padding-right: 10vw;
    float: right;
}

#hard-to-find {
    font-size: 5em !important;
}

#description-button {
    text-decoration: none;
    background-color: var(--iGEM-dark-green);
    color: white;
    text-align: center;
    border: 8px solid;
    border-radius: 16px;
    border-color: #2c4214;
    opacity: 0.75;
    box-shadow: 4px 4px 16px #000000;
}

#description-button:hover {
    opacity: 1;
}

#long-text {
    font-size: 1.5em;
}

@media only screen and (max-width: 991px) {
    footer {
        margin-top: 600px;
    }

    #hard-to-find {
        font-size: 4em;
    }

    #long-text {
        font-size: 1em;
    }

    img#award-ribbon {
        display: none;
    }
}