.wrapper {
  font-size: 18px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: calc(50%);
}

header>div {
  width: 100%;
  height: 100%;
  position: relative;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-family: var(--iGEM-font-title);
  color: white;
  z-index: 1;
  letter-spacing: 12px;
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% + 1rem));
  padding: 0 1em;
}

strong {
  display: contents;
}

h2 {
  font-family: "Manjari", sans-serif;
}

.arrow-content {
  height: 96px;
}

.portrait-container {
  padding-top: 72px;
  position: relative;
  padding: 0;
}

.portrait-photo {
  width: 100%;
  height: 320px + 72px;
  object-fit: cover;
  position: fixed;
  opacity: 0.35;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.portrait-photo.team-photo,
.portrait-photo.thank-photo {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

aside {
  padding: 0 24px;
  font-size: 0.9em;
  margin-right: 2em;
}

#notebook-content aside {
  font-size: 0.75em;
}

.visited-index {
  color: #6c757d !important;
}

.current-index {
  font-weight: bold;
  filter: brightness(75%);
  border-left: 4px solid;
}

.index-section:hover {
  cursor: pointer;
}

article {
  margin-top: 4em;
}

article>h2.subsection-title {
  font-size: 2em;
  font-weight: bold;
  display: block;
  filter: brightness(75%);
  margin-bottom: 0.5em;
}

article>h3.inner-subtitle {
  font-size: 1.5em;
}

.inner-section-title {
  margin-bottom: 0.5em;
}

.img-wrapper img {
  max-width: 100%;
}

aside.index-menu {
  height: fit-content;
  padding: 0;
  padding-top: 6em;
  z-index: 1;
  font-size: 1.25em;
  color: black;
  line-height: 1em;
}

aside.index-menu>ul {
  padding-left: 0;
  font-family: "Manjari", sans-serif;
  margin: 0;
  padding: 0.5em;
}

.breathe-logo {
  width: 120px;
  height: 110px;
}

.igem-logo {
  width: 80px;
  height: 80px;
  padding: 8px;
}

#team-content h2 {
  margin-top: 64px;
  text-align: center;
}

#team-content h2 {
  margin-top: 64px;
}

#attributions-content h2 {
  margin-bottom: 0;
}

.image-footer {
  font-size: 0.75em;
  font-weight: lighter;
  text-align: right;
}

#cf-description>button {
  border: 4px solid;
  font-size: 1em;
  background-color: transparent;
  border-color: var(--iGEM-blue);
  border-radius: 8px;
  font-family: "Manjari";
  line-height: 1em;
  padding: 8px;
  padding-top: 0.5em;
  color: var(--iGEM-blue);
  box-shadow: 4px 4px 8px;
}

#cf-description>button:hover {
  background-color: var(--iGEM-ultra-light-aqua);
}

#cf-description p {
  font-size: 0.8em;
  font-weight: lighter;
}

#description-nav-buttons>a {
  text-align: center;
  border: solid 6px;
  font-family: "Manjari";
  border-radius: 16px;
  padding: 8px;
  padding-top: 1em;
  font-size: 0.8em;
  color: inherit;
  box-shadow: 4px 4px 16px;
  line-height: 1.5em;
}

#description-nav-buttons p {
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 4px;
}

#description-nav-buttons>a:hover {
  cursor: pointer;
  text-decoration: none;
}

.people-component {
  font-family: "Lato";
  margin: 16px;
  text-align: center;
}

#team-content .member-component img {
  width: inherit;
}

.people-component .name {
  font-size: 1em;
  font-weight: bold;
}

.member-component {
  width: 100px;
}

.member-component>.name {
  font-size: 1em;
  margin-top: 8px;
  font-weight: bold;
  width: -moz-fit-content;
}

.member-component>h5 {
  font-size: 0.6em;
}

#attributions-content .people-component>img {
  width: 80px;
  height: 80px;
  font-size: 0.8em;
  margin-right: 0.5em;
}

#attributions-content .member-component {
  width: 80px;
  font-size: 0.8em;
}

#attributions-content .people-component:not(.member-component) {
  max-width: 320px;
  text-align: left;
}

#attributions-content .people-component p {
  font-size: 0.6em;
}

.member-component.attribution {
  width: 360px;
  text-align: left;
}

.member-component.attribution img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.description-text1 {
  font-size: 11px;
}

.static-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#david-safety.static-move {
  background-position: 60% -360px;
  background-size: 75%;
}

#david-safety.static-move {
  background-position: 60% -360px;
  background-size: 75%;
}

.index-button {
  height: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0;
  background-color: black;
  background-size: 100%;
  /*background-color: var(--iGEM-dark-blue); */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.index-button>img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden-component>div {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(197, 195, 195);
}

.hidden-component>button {
  height: 80px;
  width: 480px;
  margin-top: 0.4em;
  color: white;
  font-family: var(--iGEM-font-title);
  box-shadow: 4px 4px 16px #000;
  border: 0;
}

.metal-biosensor-button {
  height: 80px;
  width: 480px;
  margin-top: 0.4em;
  background-color: var(--iGEM-dark-blue);
  color: white;
  font-family: var(--iGEM-font-title);
}

#cards-model {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(197, 195, 195);
}

.card-component {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(197, 195, 195);
}

/*
#antibiotic-div {
}

#cascade-div{
}
*/

.description-image {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#back-card1 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

#front-card2 {
  color: white;
  /*background-image: url("../img/portrait/model.jpg");
background-size: 100%; */
}

#back-card2 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

#back-card3 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

ul {
  list-style-type: circle;
}

#back-card4 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

.index-button>span {
  margin: 0 auto;
  height: 1em;
  line-height: 1em;
  font-family: var(--iGEM-font-title);
  /* background-size: 100% ; */
  font-size: 28px;
}

.div-info {
  height: 500px;
}

#team-collabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-component.attribution p {
  font-size: 0.6em;
}

.instructor-component {
  width: 320px;
  text-align: left;
}

.instructor-component>img {
  width: 75px;
  height: 75px;
  margin-right: 8px;
}

.advisor-component {
  font-size: 0.8em;
  text-align: center;
  width: 150px;
}

.advisor-component>img {
  width: 75px;
  height: 75px;
}

.collab-component {
  width: 100px;
  font-size: 0.8em;
}

.collab-component img {
  width: 75px;
  height: 75px;
}

.collab-component>h4 {
  margin-top: 4px;
}

.thank-container {
  height: 32px;
  width: 480px;
  margin: 8px;
}

.thank-container>img {
  height: inherit;
  margin-right: 16px;
}

table#promoters th {
  border-bottom: 2px solid #dee2e6;
}

#div-info {
  background-image: url("../img/portrait/model.jpg");
}

#contact-content {
  font-family: "Manjari", sans-serif;
}

#contact-breathe-img {
  width: 6em;
  height: 6em;
}

#contact-info-container img {
  margin: 4px;
  width: 2em;
  width: 2em;
}

#parts-content table,
#collection-content table {
  font-size: 0.8em;
  display: block;
  margin-top: -8px;
  overflow: auto;
}

#parts-content .thread,
#collection-content .thread,
#safety-content .thread {
  color: white;
}

#protocols-link:visited {
  color: var(--iGEM-blue);
}

#parts-content a:visited {
  color: var(--iGEM-blue);
}

@media only screen and (max-width: 768px) {
  h1.section-title {
    font-size: 2.5em;
  }

  img#contact-breathe-img {
    display: none;
  }

  #contact-info-container {
    text-align: center;
  }

  #contact-info-container>div {
    width: fit-content;
    margin: 0 auto;
  }

  .static-move {
    background-attachment: fixed;
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    font-size: 15px;
  }

  aside.index-menu {
    position: unset;
    padding: 1em 0;
    margin: 0.5em;
    border-bottom: solid 4px;
  }
}