.wrapper {
  font-size: 18px;
}

.marketing {
  background-color: var(--iGEM-dark-blue);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

p,
#HQ_page p {
  font-family: "Lato";
  line-height: 1.25em;
}

header.page-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: calc(50%);
}

header.page-cover>div {
  width: 100%;
  height: 100%;
  position: relative;
}

h1.page-title,
#HQ_page h1.page-title {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-family: var(--iGEM-font-title);
  color: white;
  z-index: 1;
  letter-spacing: 12px;
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% + 1rem));
  padding: 0 1em;
  font-weight: 100;
}

strong {
  display: contents;
}

h2.subsection-title {
  font-family: "Manjari", sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: block;
  filter: brightness(75%);
  margin-bottom: 0.5em;
}

h3.inner-subtitle,
h3.inner-section-title,
#HQ_page h3.inner-subtitle,
#HQ_page h3.inner-section-title {
  font-family: "Lato";
  font-weight: bold;
  color: inherit;
}

main#notebook-page nav.index-menu {
  font-size: 0.75em;
}

.visited-index {
  color: #6c757d !important;
}

.current-index {
  font-weight: bold;
  filter: brightness(75%);
  border-left: 4px solid;
}

.index-section:hover {
  cursor: pointer;
}

section {
  margin-top: 4em;
}

section>h3.inner-subtitle {
  font-size: 1.5em;
}

.inner-section-title {
  margin-bottom: 0.5em;
}

.img-wrapper img {
  max-width: 100%;
}

nav.index-menu {
  height: fit-content;
  padding-top: 7em;
  z-index: 1;
  line-height: 1em;
  display: flex;
  flex-direction: column;
}

nav.index-menu>a {
  font-family: "Manjari", sans-serif;
  margin: 0;
  padding: 0.5em;
}

figure figcaption {
  font-size: 0.75em;
  line-height: 1em;
  font-size: 0.85em;
  text-align: right;
}

figure figcaption:not(strong) {
  font-weight: lighter;
}

figure figcaption strong {
  font-weight: bold;
}

#team-page h2 {
  margin-top: 64px;
  text-align: center;
}

#team-page h2 {
  margin-top: 64px;
}

main#attributions-page h2 {
  margin-bottom: 0;
}

.image-footer {
  font-size: 0.75em;
  font-weight: lighter;
  text-align: right;
}

#cf-description>button {
  border: 4px solid;
  background-color: transparent;
  border-color: var(--iGEM-blue);
  border-radius: 8px;
  font-family: "Manjari";
  line-height: 1em;
  padding: 8px;
  padding-top: 0.5em;
  color: var(--iGEM-blue);
  box-shadow: 4px 4px 8px;
}

#cf-description>button:hover {
  background-color: var(--iGEM-ultra-light-aqua);
}

.nav-buttons>a {
  text-align: center;
  border: solid 6px;
  font-family: "Manjari";
  border-radius: 16px;
  padding: 8px;
  padding-top: 1em;
  font-size: 0.8em;
  color: inherit;
  box-shadow: 4px 4px 16px;
  line-height: 1.5em;
}

.nav-buttons p {
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 4px;
}

.nav-buttons>a:hover {
  cursor: pointer;
  text-decoration: none;
}

.people-component {
  font-family: "Lato";
  margin: 16px;
  text-align: center;
}

.people-component img {
  width: inherit;
}

.people-component .name {
  font-size: 1em;
  font-weight: bold;
}

.member-component {
  width: 100px;
}

.member-component>.name {
  font-size: 1em;
  margin-top: 8px;
  font-weight: bold;
  width: -moz-fit-content;
}

.member-component>h5 {
  font-size: 0.6em;
}

main#attributions-page .people-component>img {
  width: 80px;
  height: 80px;
  font-size: 0.8em;
  margin-right: 0.5em;
}

main#attributions-page .member-component {
  width: 80px;
  font-size: 0.8em;
}

main#attributions-page .people-component:not(.member-component) {
  max-width: 320px;
  text-align: left;
}

main#attributions-page .people-component p {
  font-size: 0.6em;
}

.member-component.attribution {
  width: 360px;
  text-align: left;
}

.member-component.attribution img {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.description-text1 {
  font-size: 11px;
}

.static-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#david-safety.static-move {
  background-position: 60% -360px;
  background-size: 75%;
}

#david-safety.static-move {
  background-position: 60% -360px;
  background-size: 75%;
}

.index-button {
  height: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0;
  background-color: black;
  background-size: 100%;
  /*background-color: var(--iGEM-dark-blue); */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.index-button>img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden-component>div {
  border-width: 2px;
  border-style: solid;
  font-size: 0.85em;
  padding: 1em;
  border-color: rgb(197, 195, 195);
}

.hidden-component>button {
  height: 80px;
  color: white;
  font-family: var(--iGEM-font-title);
  box-shadow: 4px 4px 16px #000;
  border: 0;
}

.card-component {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(197, 195, 195);
}

/*
#antibiotic-div {
}

#cascade-div{
}
*/

.description-image {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#back-card1 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

#front-card2 {
  color: white;
  /*background-image: url("../img/portrait/model.jpg");
background-size: 100%; */
}

#back-card2 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

#back-card3 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

ul {
  list-style-type: circle;
}

#back-card4 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 3em;
  z-index: 3;
  line-height: 1em;
}

.index-button>span {
  margin: 0 auto;
  height: 1em;
  line-height: 1em;
  font-family: var(--iGEM-font-title);
  /* background-size: 100% ; */
  font-size: 28px;
}

.div-info {
  height: 500px;
}

#team-collabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-component.attribution p {
  font-size: 0.6em;
}

.instructor-component {
  width: 320px;
  text-align: left;
}

.instructor-component>img {
  width: 75px;
  height: 75px;
  margin-right: 8px;
}

.advisor-component {
  font-size: 0.8em;
  text-align: center;
  width: 150px;
}

.advisor-component>img {
  width: 75px;
  height: 75px;
}

.collab-component {
  width: 100px;
  font-size: 0.8em;
}

.collab-component img {
  width: 75px;
  height: 75px;
}

.collab-component>h4 {
  margin-top: 4px;
}

.thank-container {
  height: 32px;
  width: 480px;
  margin: 8px;
}

.thank-container>img {
  height: inherit;
  margin-right: 16px;
}

#HQ_page th {
  background-color: inherit;
}

table#promoters th {
  border-bottom: 2px solid #dee2e6;
}

#div-info {
  background-image: url("../img/portrait/model.jpg");
}

main#contact-page {
  font-family: "Manjari", sans-serif;
  color: white;
}

main#contact-page div#contact-info-container {
  font-size: 1.5em;
}

main#contact-page div#social-links img {
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
}

main#parts-page table {
  font-size: 0.75em;
  display: block;
  margin-top: -8px;
  overflow: auto;
}

#HQ_page table {
  font-family: 'Lato' !important;
}

#HQ_page table ul {
  margin: 0;
}

#HQ_page .thread {
  color: white !important;
}

#protocols-link:visited {
  color: var(--iGEM-blue);
}

main#parts-page table a,
main#parts-page table a:visited,
main#integrated-human-page article a,
main#integrated-human-page article a:visited {
  color: var(--iGEM-light-blue);
}

@media only screen and (max-width: 768px) {
  h1.page-title {
    font-size: 2.5em;
  }

  .static-move {
    background-attachment: fixed;
    background-position: center;
  }
}

#awards-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#awards-message>p {
  font-size: 5em;
  text-align: center;
  color: gold;
  letter-spacing: 0.1em;
  font-family: var(--iGEM-font-title)
}

@media only screen and (max-width: 991px) {
  .wrapper {
    font-size: 15px;
  }

  header.top-menu h1 {
    padding: 0.5em;
  }

  nav.index-menu {
    position: unset;
    padding: 1em 0;
    margin: 0.5em;
    border-bottom: solid 4px;
  }

  img#contact-breathe-img {
    display: none;
  }

  main#contact-page #contact-info-container,
  main#contact-page #contact-info-container div {
    text-align: center;
    justify-content: center;
  }
}