body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-size: 18px;
}

h3 {
  font-family: "Manjari", sans-serif;
}

h4 {
  font-family: "Lato";
  font-size: 1.5em;
  margin-top: 1em;
}

.arrow-content {
  height: 96px;
}

.portrait-container {
  padding-top: 72px;
  position: relative;
  padding: 0;
}

.portrait-photo {
  width: 100%;
  height: 320px + 72px;
  object-fit: cover;
  position: fixed;
  opacity: 0.35;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

aside {
  padding: 0 24px;
}

.visited-index {
  color: #6c757d !important;
}

.current-index {
  font-weight: bold;
  filter: brightness(75%);
  border-left: 4px solid;
}

.index-section:hover {
  cursor: pointer;
}

article {
  margin-top: 4em;
}

.section-title {
  text-align: center;
  position: absolute;
  font-size: 4em;
  font-family: var(--iGEM-font-title);
  color: white;
  z-index: 1;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
}

.subsection-title {
  font-size: 48px;
  font-weight: bold;
  display: block;
  filter: brightness(75%);
  margin-bottom: 0.5em;
}

.img-wrapper img {
  max-width: 100%;
}

.index-menu {
  height: fit-content;
  padding: 0;
  padding-top: 6em;
  z-index: 1;
  font-size: 18px;
  color: black;
}

.index-menu > ul {
  padding-left: 0;
  font-family: "Manjari", sans-serif;
  margin: 0;
  padding: 0.5em;
}

.breathe-logo {
  width: 120px;
  height: 110px;
}

.igem-logo {
  width: 80px;
  height: 80px;
  padding: 8px;
}

#team-section {
  background-color: #b8f1ba;
}

#team-members-title {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 12px;
}

#team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-component {
  width: 450px;
  padding: 12px;
}

.member-photo {
  float: left;
}

.member-name {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}

.member-bio {
  font-size: 15px;
  font-family: "Neuton", serif;
}

#team-collabs-title {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 12px;
}

.index-button {
  height: 180px;
  text-align: center;
  align-items: center;
  display: flex;
  background-image: url("../img/portrait/model.jpg");
  background-size:100%; 
   /*background-color: var(--iGEM-dark-blue); */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

/*
#antibiotic-div {
}

#cascade-div{
}
*/

#front-card1 {
color: white;
}

#back-card1 {
  color: white;
  color: white;
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 1em;
  line-height: 1em;
}

#front-card2{
color: white;
 /*background-image: url("../img/portrait/model.jpg");
background-size: 100%; */
}

#back-card2 {
  color: white;
  font-family: var(--iGEM-font-title);
  font-size: 28px;
  margin: 0 auto;
  height: 1em;
  line-height: 1em;
}

#front-card3{
  color: white;
  }
  
  #back-card3 {
    color: white;
    color: white;
    font-family: var(--iGEM-font-title);
    font-size: 28px;
    margin: 0 auto;
    height: 1em;
    line-height: 1em;
  }

.index-button > span {
  margin: 0 auto;
  height: 1em;
  line-height: 1em;
  font-family: var(--iGEM-font-title);
  /* background-size: 100% ; */
  font-size: 28px;
}

.div-info {
  height: 500px;
}

#team-collabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

table#promoters {
  margin-top: -8px;
}

table#promoters th {
  border-bottom: 2px solid #dee2e6;
}

.collab-component {
  width: 300px;
  padding: 12px;
}

.collab-photo {
  float: left;
  width: 100px;
  height: 100px;
}

.collab-name {
  font-size: 16px;
}

.collab-bio {
  font-size: 12px;
}

@media only screen and (max-width: 719px) {
  .section-title {
    font-size: 64px;
  }
  .subsection-title {
    font-size: 30px;
  }
  .index-menu {
    position: unset;
    padding: 1em 0;
    margin: 1em;
    border-bottom: solid 4px;
  }
}

@media only screen and (min-width: 720px) {
  .section-title {
    font-size: 96px;
  }
  .subsection-title {
    font-size: 48px;
  }
}

#div-info {
  background-image: url("../img/portrait/model.jpg");
}
